<!DOCTYPE html>
<html>
<head>
	<h1>This is EJS First Page!</h1>

	<p>This will be evaluated: <%= 10*2%></p>

	<title>CU BUTAO</title>
	<link rel="stylesheet" type="text/css" href="app.css">
	<link rel="stylesheet" type="text/css" href="google fonts">
</head>

<body>
	<button>TEST</button>	
</body>
</html>